{%include 'header.html'%}
{% raw %}
<br><br>
<div id="qidian" style="margin-left: 20%;margin-right: 20%;" v-loading="loading1" element-loading-text="爬取中，此过程需要几分钟">
    <el-row :gutter="20">
        <el-col :span="20">
            <el-header align="center" style="font-size: 24px;">检测结果</el-header>
        </el-col>
        <el-col :span="4">
            <el-button type="primary" v-on:click="get_all" v-if="isDisable==false" size="small">重新爬取</el-button>
            <el-button type="primary" type="botton" v-else disabled size="small">正在爬取</el-button>
        </el-col>
    </el-row>
    <template>
        <el-table :data="table" style="width: 100%" border >
            <el-table-column prop="who" label="检测单位" width="200">
            </el-table-column>
            <el-table-column prop="count" label="数量" width="150">
            </el-table-column>
            <el-table-column prop="type" label="作品类型" min-width="300">
            </el-table-column>
            <el-table-column prop="date" label="检测时间" width="150">
            </el-table-column>
        </el-table>
    </template>
    <br><br>
    <template>
        <el-header align="center" style="font-size: 24px;">已检测作品结果</el-header>
        <el-table :data="check_list" style="width: 100%" border :show-header="false">
            <el-table-column prop="tit" label="1" width="350">
            </el-table-column>
            <el-table-column prop="con" label="2" min-width="300">
            </el-table-column>
        </el-table>
    </template>
    <br><br>
    <el-row style="text-align: center;">
        <el-col :span="6">
            <el-button type="primary" @click="show_novel=true">添加作品</el-button>
        </el-col>
        <el-col :span="6">
            <el-button type="primary" @click="show_akw_list=true,get_akw_list()">关键词抽检</el-button>
        </el-col>
        <el-col :span="6">
            <el-button type="primary" @click="show_manual=true,get_man_novels()">人工抽检</el-button>
        </el-col>
        <el-col :span="6">
            <el-button type="primary" @click="show_judge=true,get_judge()">网站综合评定</el-button>
        </el-col>
    </el-row>
    <el-dialog title="作品检测" :visible.sync="show_novel">
        <template>
            <el-select v-model="value" filterable remote reserve-keyword placeholder="请输入作品名称"
                :remote-method="remoteMethod" :loading="loading2" @change="get_novel">
                <el-option v-for="item in list" :key="item.key" :label="item.value" :value="item.key">
                </el-option>
            </el-select>
            <el-header align="center" style="font-size: 24px;" v-model="novel_name">{{novel_name}}</el-header>
            <el-table :data="novel_result" style="width: 100%" border :show-header="false" v-loading="loading3"
                element-loading-text="作品检测中，请稍后">
                <el-table-column prop="tit" width="350">
                    <template slot-scope="scope">
                        <span style="margin-left: 10px" v-if="scope.row.tit=='存在问题'">{{scope.row.tit}}&nbsp;
                            <el-button type="primary" size="mini" @click="show_select_pro=true">编辑</el-button></span>
                        <span style="margin-left: 10px" v-else>{{scope.row.tit}}</span>
                    </template>
                </el-table-column>
                <el-table-column prop="con" min-width="300">
                </el-table-column>
            </el-table>
            <br>
            <el-footer align="center">
                <el-button type="primary" @click="show_nkw_list=true,get_kw_list()">关键敏感词查看</el-button>
            </el-footer>
            <el-dialog title="敏感关键词" :visible.sync="show_nkw_list" append-to-body>
                <el-table :data="novel_kw_list" style="width: 100%" border>
                    <el-table-column label="关键词" width="180">
                        <template slot-scope="scope">
                            <span style="margin-left: 10px">{{ scope.row[0]}}</span>
                        </template>
                    </el-table-column>
                    <el-table-column label="出现次数" width="180">
                        <template slot-scope="scope">
                            <span style="margin-left: 10px">{{ scope.row[1]}}</span>
                        </template>
                    </el-table-column>
                    <el-table-column label="出现章节">
                        <template slot-scope="scope">
                            <el-button size="mini" @click="show_chap_list=true,show_chap(scope.row[0])">查看详情
                            </el-button>
                        </template>
                    </el-table-column>
                </el-table>
                <el-dialog title="敏感章节列表" :visible.sync="show_chap_list" append-to-body>
                    <el-table :data="chap_list" style="width: 100%" border>
                        <el-table-column label="章节" width="100">
                            <template slot-scope="scope">
                                <span style="margin-left: 10px">{{ scope.row[0]}}</span>
                            </template>
                        </el-table-column>
                        <el-table-column label="内容" min-width="300">
                            <template slot-scope="scope">
                                <span style="margin-left: 10px;font-size: 12px;" v-html="scope.row[1]"></span>
                            </template>
                        </el-table-column>
                    </el-table>
                </el-dialog>
            </el-dialog>
            <el-dialog title="编辑存在问题" :visible.sync="show_select_pro" append-to-body>
                <el-select v-model="pro_values" multiple placeholder="请选择" style="width: 500px;">
                    <el-option v-for="item in pro_options" :key="item.value" :label="item.label" :value="item.label">
                    </el-option>
                </el-select>
                <el-button type="primary" size="mini" @click="save_pro()">保存</el-button>
            </el-dialog>
        </template>
    </el-dialog>
    <el-dialog title="关键词抽检" :visible.sync="show_akw_list">
        <el-table :data="all_kw_list" style="width: 100%" border>
            <el-table-column label="关键词" width="180">
                <template slot-scope="scope">
                    <el-button size="mini" @click="get_kw_novels(scope.row[0])">{{ scope.row[0]}}
                    </el-button>
                </template>
            </el-table-column>
            <el-table-column label="出现次数" width="180">
                <template slot-scope="scope">
                    <span style="margin-left: 10px">{{ scope.row[1]}}</span>
                </template>
            </el-table-column>
            <el-table-column label="出现作品数">
                <template slot-scope="scope">
                    <span style="margin-left: 10px">{{ scope.row[2]}}</span>
                </template>
            </el-table-column>
        </el-table>
        <el-dialog title="关键词出现作品" :visible.sync="show_kw_novels" append-to-body>
            <el-table :data="kw_novels" style="width: 100%" border>
                <el-table-column label="作品名称" width="180">
                    <template slot-scope="scope">
                        <span style="margin-left: 10px">{{ scope.row[0]}}
                        </span>
                    </template>
                </el-table-column>
                <el-table-column label="出现次数" width="180">
                    <template slot-scope="scope">
                        <span style="margin-left: 10px">{{ scope.row[1]}}</span>
                    </template>
                </el-table-column>
                <el-table-column label="出现章节">
                    <template slot-scope="scope">
                        <el-button size="mini" @click="show_kw_chaps=true,get_kw_chaps(scope.row[0])">查看详情
                        </el-button>
                    </template>
                </el-table-column>
            </el-table>
            <el-dialog :visible.sync="show_kw_chaps" append-to-body>
                <el-table :data="kw_chaps" style="width: 100%" border>
                    <el-table-column label="章节" width="100">
                        <template slot-scope="scope">
                            <span style="margin-left: 10px">{{ scope.row[0]}}</span>
                        </template>
                    </el-table-column>
                    <el-table-column label="内容" min-width="300">
                        <template slot-scope="scope">
                            <span style="margin-left: 10px;font-size: 12px;" v-html="scope.row[1]"></span>
                        </template>
                    </el-table-column>
                </el-table>
            </el-dialog>
        </el-dialog>
    </el-dialog>
    <el-dialog title="人工抽检" :visible.sync="show_manual">
        <el-form :model="manual_form" label-width="80px">
            <el-form-item label="作品名称">
                <el-select v-model="manual_form.novel" filterable placeholder="输入作品名或下拉选择">
                    <el-option v-for="item in man_novels" :key="item[0]" :label="item[1]" :value="item[0]">
                    </el-option>
                </el-select>
            </el-form-item>
            <el-form-item label="关键词">
                <el-input autosize v-model="manual_form.mkw" placeholder="需分析关键词最少两个中文，可多个关键词检测，以/符号划分。例子：独立/分裂国家">
                </el-input>
            </el-form-item>
            <el-form-item>
                <el-button type="primary" @click="onSubmit">检测</el-button>
            </el-form-item>
        </el-form>
        <el-dialog title="人工抽检结果" :visible.sync="show_manual_list" append-to-body>
            <el-table :data="manual_list" style="width: 100%" border>
                <el-table-column label="关键词" width="180">
                    <template slot-scope="scope">
                        <span style="margin-left: 10px">{{ scope.row[0]}}</span>
                    </template>
                </el-table-column>
                <el-table-column label="出现次数" width="180">
                    <template slot-scope="scope">
                        <span style="margin-left: 10px">{{ scope.row[1]}}</span>
                    </template>
                </el-table-column>
                <el-table-column label="出现章节">
                    <template slot-scope="scope">
                        <el-button size="mini" @click="show_man_chap=true,get_man_chaps(scope.row[0])">查看详情
                        </el-button>
                    </template>
                </el-table-column>
            </el-table>
            <br>
            <el-footer align="center">
                <el-button type="primary" @click="show_edit_pro=true">存在问题编辑</el-button>
            </el-footer>
            <el-dialog title="编辑存在问题" :visible.sync="show_edit_pro" append-to-body>
                <el-select v-model="pro_values" multiple placeholder="请选择" style="width: 500px;">
                    <el-option v-for="item in pro_options" :key="item.value" :label="item.label" :value="item.label">
                    </el-option>
                </el-select>
                <el-button type="primary" size="mini" @click="edit_pro()">保存</el-button>
            </el-dialog>
            <el-dialog title="敏感章节列表" :visible.sync="show_chap_list" append-to-body>
                <el-table :data="man_chap_list" style="width: 100%" border>
                    <el-table-column label="章节" width="100">
                        <template slot-scope="scope">
                            <span style="margin-left: 10px">{{ scope.row[0]}}</span>
                        </template>
                    </el-table-column>
                    <el-table-column label="内容" min-width="300">
                        <template slot-scope="scope">
                            <span style="margin-left: 10px;font-size: 12px;" v-html="scope.row[1]"></span>
                        </template>
                    </el-table-column>
                </el-table>
            </el-dialog>
        </el-dialog>
    </el-dialog>
    <el-dialog title="已检测作品评定结果" :visible.sync="show_judge" append-to-body>
        <el-table :data="judge_list" style="width: 100%" border>
            <el-table-column label="作品名称" width="300">
                <template slot-scope="scope">
                    <span style="margin-left: 10px">{{ scope.row[0]}}</span>
                </template>
            </el-table-column>
            <el-table-column label="检测分数" width="180">
                <template slot-scope="scope">
                    <span style="margin-left: 10px">{{ scope.row[1]}}</span>
                </template>
            </el-table-column>
            <el-table-column label="检测结果评级">
                <template slot-scope="scope">{{ scope.row[2]}}
                </template>
            </el-table-column>
        </el-table>
        <br>
        <el-footer align="center">
            <el-button type="primary" @click="show_chart=true,load_chart()">整体评定</el-button>
        </el-footer>
        <el-dialog :visible.sync="show_chart" append-to-body>
            <div id="main" style="width: 600px;height:400px;"></div>
            <el-footer align="center">
                <span>综合评价：{{grade}}</span>
            </el-footer>
        </el-dialog>
    </el-dialog>

</div>
{% endraw %}



<script>
    var example = new Vue({
        el: '#qidian',
        data() {
            return {
                table: [{
                    who: '网络信息检测后台',
                    date: '',
                    count: '',
                    type: '',
                }],
                check_list: [
                    {
                        tit: '已检测作品总数',
                        con: ''
                    },
                    {
                        tit: '已检测章节总数',
                        con: ''
                    },
                    {
                        tit: '已检测总字数/万字',
                        con: ''
                    },
                    {
                        tit: '问题作品数',
                        con: ''
                    },
                    {
                        tit: '问题章节数',
                        con: ''
                    },
                    {
                        tit: '问题章节字数/万字',
                        con: ''
                    },
                    {
                        tit: '问题作品占比',
                        con: ''
                    },
                    {
                        tit: '问题章节占比',
                        con: ''
                    },
                    {
                        tit: '问题字数占比',
                        con: ''
                    },

                ],
                novel_result: [
                    {
                        tit: '作者',
                        con: ''
                    },
                    {
                        tit: '类型',
                        con: ''
                    },
                    {
                        tit: '检测章节数',
                        con: ''
                    },
                    {
                        tit: '检测字数/万字',
                        con: ''
                    },
                    {
                        tit: '检测章节数占比',
                        con: ''
                    },
                    {
                        tit: '检测字数占比',
                        con: ''
                    },
                    {
                        tit: '问题章节占比',
                        con: ''
                    },
                    {
                        tit: '存在问题',
                        con: ''
                    },
                ],
                show: false,
                isDisable: false,
                loading1: false,
                options: [],
                value: [],
                list: [],
                loading2: false,
                states: [],
                show_novel: false,
                show_nkw_list: false,
                show_chap_list: false,
                loading3: false,
                novel_name: '',
                novel_id: '',
                novel_kw_list: [],
                chap_list: [],
                show_select_pro: false,
                pro_options: [
                    {
                        value: '1',
                        label: '违法违规的涉政治内容'
                    },
                    {
                        value: '2',
                        label: '丑化英烈'
                    },
                    {
                        value: '3',
                        label: '宣扬恐怖主义、极端主义'
                    },
                    {
                        value: '4',
                        label: '煽动民族仇恨、民族歧视、破坏民族团结'
                    },
                    {
                        value: '5',
                        label: '宣扬邪教和封建迷信'
                    },
                    {
                        value: '6',
                        label: '不当评述自然灾害、重大事故等灾难'
                    },
                    {
                        value: '7',
                        label: '淫秽色情'
                    },
                    {
                        value: '8',
                        label: '宣扬暴力，展现血腥、惊悚、残忍等'
                    },
                    {
                        value: '9',
                        label: '宣扬、鼓励、渲染未成年人群殴、校园欺凌暴力、拉帮结派等内容'
                    },
                    {
                        value: '10',
                        label: '其他低俗不良内容'
                    },
                ],
                pro_values: [],
                show_akw_list: false,
                all_kw_list: [],
                show_kw_novels: false,
                kw_novels: [],
                show_kw_chaps: false,
                kw_chaps: [],
                key_word: '',
                show_manual: false,
                manual_form: {
                    mkw: '',
                    novel: ''
                },
                man_novels: [],
                show_manual_list: false,
                show_man_chap: false,
                manual_list: [],
                man_chap_list: [],
                show_edit_pro: false,
                show_judge: false,
                judge_list: '',
                show_chart: false,
                chart: [],
                charttt: '',
                grade: ''
            }
        },
        created: function () {
            this.init();
        },
        mounted() {
            this.$nextTick(function () {
                this.chart_list()
            })
        },
        methods: {
            init: function () {
                axios.get('/init')
                    .then((res) => {
                        this.show = true
                        // this.date = res.data.data1
                        this.table[0].count = res.data.data2
                        this.table[0].date = res.data.data1
                        this.table[0].type = res.data.data3

                        this.check_list[0].con = res.data.check_list[0]
                        this.check_list[1].con = res.data.check_list[2]
                        this.check_list[2].con = res.data.check_list[1]
                        this.check_list[3].con = res.data.check_list[3]
                        this.check_list[4].con = res.data.check_list[4]
                        this.check_list[5].con = res.data.check_list[5]
                        this.check_list[6].con = this.percentage(res.data.check_list[3], res.data.check_list[0]) + '%'
                        this.check_list[7].con = this.percentage(res.data.check_list[4], res.data.check_list[2]) + '%'
                        this.check_list[8].con = this.percentage(res.data.check_list[5], res.data.check_list[1]) + '%'
                    })
                    .catch((err) => {
                        console.log(err)
                    })
            },
            get_all: function () {
                this.$confirm('确定重新爬取数据?', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(() => {
                    this.isDisable = true
                    this.loading1 = true
                    
                    axios.get('/get_list')
                        .then((res) => {
                            this.init()
                            this.isDisable = false
                            this.loading1 = false
                            this.$alert(res.data.data, {
                                confirmButtonText: '确定',
                            });
                        })
                        .catch((err) => {
                            console.log(err)
                        })

                }).catch(() => {
                    this.$message({
                        type: 'info',
                        message: '已取消'
                    });
                });

            },
            current_change: function (currentPage) {
                this.currentPage = currentPage;
            },
            remoteMethod(query) {
                if (query !== '') {
                    this.loading2 = true;
                    this.novel_clean()
                    axios.get('/find_novel', {
                        params: {
                            novel: query
                        }
                    }).then((res) => {
                        setTimeout(() => {
                            console.log(res.data.data)
                            this.states = res.data.data
                            this.loading2 = false;
                            this.list = this.states.map(item => ({ key: item[0], value: item[1] }))
                        }, 200);
                    }).catch((err) => {
                        console.log(err)
                    })
                } else {
                    this.options = [];
                }
            },
            get_novel(val) {
                this.loading3 = true
                this.novel_id = val
                axios.get('/get_novel', {
                    params: {
                        id: val
                    }
                }).then((res) => {
                    this.novel_name = res.data.data[0]
                    this.novel_result[0].con = res.data.data[1]
                    this.novel_result[1].con = res.data.data[2]
                    this.novel_result[2].con = res.data.data[3]
                    this.novel_result[3].con = res.data.data[4]
                    this.novel_result[4].con = '100%'
                    this.novel_result[5].con = '100%'
                    this.novel_result[6].con = this.percentage(res.data.data[5], res.data.data[3]) + '%'
                    this.loading3 = false
                    this.init()
                    // console.log(res.data.data)
                }).catch((err) => {
                    console.log(err)
                })
            },
            percentage(a, b) {
                if (!a || !b) {
                    return 0
                } else {
                    return (Math.round(a / b * 10000) / 100);
                }
            },
            novel_clean() {
                // this.novel_id = '',
                this.novel_id = ''
                this.novel_name = '',
                    this.novel_result[0].con = ''
                this.novel_result[1].con = ''
                this.novel_result[2].con = ''
                this.novel_result[3].con = ''
                this.novel_result[4].con = ''
                this.novel_result[5].con = ''
                this.novel_result[6].con = ''
                this.novel_kw_list = []
                this.chap_list = []
            },
            get_kw_list() {
                axios.get('/get_novel_kw_list', {
                    params: {
                        book_id: this.novel_id
                    }
                }).then((res) => {
                    console.log(res.data)
                    this.novel_kw_list = res.data.data
                }).catch((err) => {
                    console.log(err)
                })
            },
            show_chap(val) {
                axios.get('/get_chap_list', {
                    params: {
                        book_id: this.novel_id,
                        key_word: val
                    }
                }).then((res) => {
                    arr = res.data.data
                    axios.get('/get_kw_type', {
                        params: {
                            key_word: val
                        }
                    }).then((res) => {
                        type = res.data.data
                        console.log(type)
                        arr.forEach(item => {
                            console.log(item)
                            let start = item[1].indexOf(val)
                            if (type == 0) {
                                item[1] = item[1].substring(0, start) + '<span style="background:red;">' + val + '</span>' + item[1].substring(start + val.length)
                            } else {
                                item[1] = item[1].substring(0, start) + '<span style="background:yellow;">' + val + '</span>' + item[1].substring(start + val.length)
                            }

                        });
                        this.chap_list = arr
                    }).catch((err) => {
                        console.log(err)
                    })
                }).catch((err) => {
                    console.log(err)
                })
            },
            save_pro() {
                var pro = this.pro_values.join("  ")
                console.log(pro)
                axios.get('/save_pro', {
                    params: {
                        book_id: this.novel_id,
                        pro: pro
                    }
                }).then((res) => {
                    this.novel_result[7].con = pro
                    this.$message(res.data.data)
                    this.show_select_pro = false
                }).catch((err) => {
                    console.log(err)
                })
            },
            get_akw_list() {
                axios.get('/get_akw_list')
                    .then((res) => {
                        // console.log(res.data.data)
                        this.all_kw_list = res.data.data
                    })
                    .catch((err) => {
                        console.log(err)
                    })
            },
            get_kw_novels(val) {
                this.key_word = val
                axios.get('/get_kw_novels', {
                    params: {
                        key_word: val,
                    }
                }).then((res) => {
                    this.show_kw_novels = true
                    this.kw_novels = res.data.data
                }).catch((err) => {
                    console.log(err)
                })
            },
            get_kw_chaps(val) {
                var kw = this.key_word
                axios.get('/get_kw_chaps', {
                    params: {
                        key_word: kw,
                        novel: val
                    }
                }).then((res) => {
                    arr = res.data.data
                    axios.get('/get_kw_type', {
                        params: {
                            key_word: this.key_word
                        }
                    }).then((res) => {
                        type = res.data.data
                        // console.log(type)
                        arr.forEach(item => {
                            // console.log(item)
                            let start = item[1].indexOf(kw)
                            if (type == 0) {
                                item[1] = item[1].substring(0, start) + '<span style="background:red;">' + kw + '</span>' + item[1].substring(start + kw.length)
                            } else {
                                item[1] = item[1].substring(0, start) + '<span style="background:yellow;">' + kw + '</span>' + item[1].substring(start + kw.length)
                            }
                        });
                        this.kw_chaps = arr
                        this.show_kw_chaps = true
                    }).catch((err) => {
                        console.log(err)
                    })
                }).catch((err) => {
                    console.log(err)
                })
            },
            get_man_novels() {
                axios.get('/get_man_novels')
                    .then((res) => {
                        // console.log(res.data.data)
                        this.man_novels = res.data.data
                    }).catch((err) => {
                        console.log(err)
                    })
            },
            onSubmit() {
                axios.get('/get_man_check', {
                    params: {
                        mkw: this.manual_form['mkw'],
                        novel: this.manual_form['novel'],
                    }
                }).then((res) => {
                    this.show_manual_list = true
                    this.manual_list = res.data.data
                }).catch((err) => {
                    console.log(err)
                })
            },
            get_man_chaps(val) {
                axios.get('/get_man_chaps', {
                    params: {
                        book_id: this.manual_form['novel'],
                        key_word: val
                    }
                }).then((res) => {
                    arr = res.data.data
                    arr.forEach(item => {
                        console.log(item)
                        let start = item[1].indexOf(val)
                        item[1] = item[1].substring(0, start) + '<span style="background:yellow;">' + val + '</span>' + item[1].substring(start + val.length)
                    });
                    this.show_chap_list = true
                    this.man_chap_list = arr
                }).catch((err) => {
                    console.log(err)
                })
            },
            edit_pro() {
                var pro = this.pro_values.join("  ")
                console.log(pro)
                axios.get('/save_pro', {
                    params: {
                        book_id: this.manual_form['novel'],
                        pro: pro
                    }
                }).then((res) => {

                    this.$message(res.data.data)
                    this.show_edit_pro = false
                }).catch((err) => {
                    console.log(err)
                })
            },
            get_judge() {
                var pro = this.pro_values.join("  ")
                console.log(pro)
                axios.get('/get_judge')
                    .then((res) => {
                        this.judge_list = res.data.data
                        this.chart = res.data.chart.map(item => ({ value: item[0], name: item[1] }))
                        this.grade = res.data.grade
                    })
                    .catch((err) => {
                        console.log(err)
                    })
            },
            load_chart() {
                this.$nextTick(function () {
                    this.chart_list()
                })
            },
            chart_list() {
                var myChart = echarts.init(document.getElementById('main'));
                legend_data = []
                for (var i = 0; i < this.chart.length; i++) {
                    legend_data[i] = this.chart[i][1] + ':' + this.chart[i][0]
                }
                console.log(legend_data)
                myChart.setOption({
                    title: {
                        text: '已检测作品评定结果',
                        // subtext: '纯属虚构',
                        left: 'center'
                    },
                    tooltip: {
                        trigger: 'item',
                        formatter: '{a} <br/>{b} : {c} ({d}%)'
                    },
                    legend: {
                        orient: 'vertical',
                        left: 'right',
                        data: ['A', 'B', 'C', 'D']
                        // data: [],
                    },
                    series: [
                        {
                            name: '访问来源',
                            type: 'pie',
                            radius: '55%',
                            center: ['50%', '50%'],
                            data: [],
                            // this.chart.map(item => ({ value: item[0], name: item[1]})),
                            emphasis: {
                                itemStyle: {
                                    shadowBlur: 10,
                                    shadowOffsetX: 0,
                                    shadowColor: 'rgba(0, 0, 0, 0.5)'
                                }
                            }
                        }
                    ]
                });
                myChart.showLoading();
                if (this.chart != null) {
                    myChart.hideLoading();
                    myChart.setOption({
                        series: [{ data: this.chart }]
                    });
                }


            }
        }
    })
</script>